@model clan_system.Models.Entities.User
@{
    ViewData["Title"] = "Login page";
}

<br />
<h1 class="text-center">Login</h1>
<br />
<br />
<div class="offset-5">
    <form asp-action="Login" asp-controller="Home" method="post">
        <div class="row">
            <div class="form-group">
                <input class="form-control" placeholder="Username" asp-for="@Model.UserName" />
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
        </div>
    </form>
</div>