@model clan_system.Models.ViewModels.LandingPageViewModel
@{
    ViewData["Title"] = "Home page";
}

<br />
You are not part of a clan.
<br />
<br />
<h3>Join a clan</h3>
@foreach (var clan in Model.ClanList)
{
    <div>
        @clan.Name : @clan.Points <button class="btn btn-primary btn-lg" style="margin-left:30px">Join</button>
    </div>
    <br />
}
<br />
<br />
<br />
<br />
<div class="container text-right">
    Logged in as @Model.LoggedUserName
</div>