@model clan_system.Models.ViewModels.LandingPageViewModel
@{
    ViewData["Title"] = "Home page";
}

<br />
You are not part of a clan.
<br />
<br />
<h3>Join a clan</h3>
@foreach (var clan in Model.ClanList)
{
    <div>
        @clan.Name : @clan.Points <button class="btn btn-primary btn-lg join-btn" style="margin-left:30px" 
                                          data-clanname="@clan.Name">Join</button>
    </div>
    <br />
}
<br />
<br />
<br />
<br />
<div class="container text-right">
    Logged in as @Model.LoggedUserName
</div>

<script>
    $(document).ready(function () {
        $(".join-btn").click(function () {
            var clanName = $(this).data("clanname");

            $.ajax({
                type: "POST",
                url: "/Clan/JoinClan",
                data: {
                    "clanName": clanName
                },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr) {
                    console.log(xhr);
                },
            })
        });
    });
</script>