@model clan_system.Models.ViewModels.LandingPageViewModel
@{
    ViewData["Title"] = "Home page";
}

<br />
<div class="row">
    <div class="col-4 offset-4">
        You are a part of @Model.clan.Name
    </div>
    <div class="col-4">
        <button class="btn btn-primary btn-lg" style="margin-left:30px" id="leave-btn">Leave Clan</button>
    </div>
</div>
<br />
<br />
Point: @Model.clan.Points
<br />
<br />
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <input id="add-points" type="text" class="form-control text-center" />
            <button id="add-btn" class="btn btn-primary btn-block">Add Points</button>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <input id="subtract-points" type="text" class="form-control text-center" />
            <button id="subtract-btn" class="btn btn-primary btn-block">Subtract Points</button>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <input id="set-points" type="text" class="form-control text-center" />
            <button id="set-btn" class="btn btn-primary btn-block">Set Points</button>
        </div>
    </div>
</div>

<br />
<br />
<br />
<span>
    <button class="btn btn-primary btn-lg">Show Current Contributions</button>
</span>
<br />
<br />
<br />
<div class="container text-right">
    Logged in as @Model.LoggedUserName
</div>

<script>

    var clanName = "";
    $(document).ready(function () {
        clanName = '@Model.clan.Name';

        $("#leave-btn").click(function () {

            $.ajax({
                type: "POST",
                url: "/Clan/LeaveClan",
                data: {
                    "clanName": clanName
                },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr) {
                    console.log(xhr);
                },
            })
        });

        $("#add-btn").click(function () {

            $.ajax({
                type: "POST",
                url: "/Clan/AddPoints",
                data: {
                    "clanName": clanName,
                    "points": $('#add-points').val()
                },
                success: function () {
                    $('#add-points').val(0);
                    location.reload();
                },
                error: function (xhr) {
                    console.log(xhr);
                },
            })
        });

        $("#subtract-btn").click(function () {

            $.ajax({
                type: "POST",
                url: "/Clan/SubtractPoints",
                data: {
                    "clanName": clanName,
                    "points": $('#subtract-points').val()
                },
                success: function () {
                    $('#subtract-points').val(0);
                    location.reload();
                },
                error: function (xhr) {
                    console.log(xhr);
                },
            })
        });

        $("#set-btn").click(function () {

            $.ajax({
                type: "POST",
                url: "/Clan/SetPoints",
                data: {
                    "clanName": clanName,
                    "points": $('#set-points').val()
                },
                success: function () {
                    $('#set-points').val(0);
                    location.reload();
                },
                error: function (xhr) {
                    console.log(xhr);
                },
            })
        });
    });
</script>
