@{
    ViewData["Title"] = "Home page";
}

<br />
<div class="row">
    <div class="col-4 offset-4">
        You are a part of {clan name}
    </div>
    <div class="col-4">
        <button class="btn btn-primary btn-lg" style="margin-left:30px">Leave Clan</button>
    </div>
</div>
<br />
<br />
Point: {Current_Points}
<br />
<br />
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <input type="text" class="form-control" />
            <button class="btn btn-primary btn-block">Add Points</button>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <input type="text" class="form-control" />
            <button class="btn btn-primary btn-block">Add Points</button>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <input type="text" class="form-control" />
            <button class="btn btn-primary btn-block">Add Points</button>
        </div>
    </div>
</div>

<br />
<br />
<br />
<span>
    <button class="btn btn-primary btn-lg">Show Current Contributions</button>
</span>
